<link rel="stylesheet" href="/css/footer.css">

<div class="footer_gradient_container">
    <div class="left_container">
        <p class=mini_title>Swallowtail Tea</p>
        <p class=quote>Swallowtail Tea is a Virginia-based tea company sourcing only the highest quality tea, herbs, and
            spices
            from around the world.</p>
    </div>
    <span class="right_container">
        <p class=mini_title>Sign up and get 10% off your first purchase.</p>
        <p class=quote>Your email address...</p>
    </span>

</div>



<div class="footer_ref_container">
    <div class="footer_links">
        <h3>Shop</h3>
        <h3>Company</h3>
        <h3>Account</h3>
        <h3>Legal</h3>
        <h3>Terms of service</h3>
        <h3>Refund policy</h3>
    </div>
    <div class="footer_link_type">
        <ul>
            <li class="footer_secondary_links">
                <a>All</a>
                <a>Teas</a>
                <a>Merch</a>
                <a>Brew wares</a>
            </li>
        </ul>
        <ul>
            <li class="footer_secondary_links">
                <a>Wholesale</a>
                <a>About us</a>
                <a>Contact us</a>
                <a>FAQs</a>
            </li>
        </ul>
        <ul>
            <li class="footer_secondary_links">
                <a>My Orders</a>
                <a>Sign Up</a>
            </li>
        </ul>
        <ul>
            <li class="footer_secondary_links">
                <a>Term & Conditions</a>
                <a>Privacy Policy</a>
            </li>
        </ul>
        <ul>
            <li class="ending_title">(c) 2022 Swallowtail Tea</li>
        </ul>
    </div>
</div>