<link rel="stylesheet" href="/css/hero_img.css">

<div class="hero_image_container">
    <!-- script running -->
    <div class="hero_image_slide_wrapper">
        <div class="hero_img_3bgs">
            <div class="three_piles" style="background-image:url(//swallowtailtea.imgix.net/s/files/1/2960/1850/files/swatch-hero_2400x.jpg?v=1558564563&auto=format&q=50&);"></div>
            <div class="green_hill" style="background-image:url(//swallowtailtea.imgix.net/s/files/1/2960/1850/files/last-slide_2400x.jpg?v=1551770643&auto=format&q=50&);"></div>
            <div class="cups" style="background-image:url(//swallowtailtea.imgix.net/s/files/1/2960/1850/files/white_gywan_2400x.jpg?v=1551770466&auto=format&q=50&);"></div>
        </div>
        <div class="content_sip">
            <h1 class ="larger_fonts">Steeped In Passion</h1>
            <a class="create_button" href="#">FREE SHIPPING on order >$40</a>
        </div>
        <div class="content_wp">
            <h1 class ="larger_fonts">Wholesale Program</h1>
            <a class="create_button" href="#">Learn More</a>
        </div>
        <div class="content_bsh">
            <h1 class ="larger_fonts">Bring Swallowtail Home</h1>
            <a class="create_button" href="#">Shop Now</a>
        </div>
    </div>
</div>

<script src="/js/hero_img.js"></script>