<div class="main_nav">


    <div class="header_rotation">
        
    </div>

    <div class="nav_header_t">teas</div>
    <div class="nav_header_t">brew wares</div>
    <div class="nav_header_t">cart
        <i class="fa-solid fa-bag-shopping"></i>
    </div>
    <div class="nav_header_t">merch</div>
    <div class="nav_header_t">about us</div>
    <div class="nav_header_t">wholesale</div>
</div>