<link rel="stylesheet" href="/css/tea_leaves.css">
<div class="tea_catergories">
    <ul class="tea_selections">
        <li class="tea_types">
            <img class="five_tea_img" src="img/black_ad4be5cb-6a95-484a-bb94-2239b1a929ec_400x400_crop_center.avif">
            <p>Black</p>
        </li>
        <li class="tea_types">
            <img class="five_tea_img" src="img/green_185f8bdd-cab4-49e0-bedf-b28cdf516b0a_400x400_crop_center.avif">
            <p>Green</p>
        </li>
        <li class="tea_types">
            <img class="five_tea_img" src="img/white_759d97b9-d4b2-48d2-882f-0d1b9ccff0ab_400x400_crop_center.avif">
            <p>White</p>
        </li>
        <li class="tea_types">
            <img class="five_tea_img" src="img/tisane_400x400_crop_center.avif">
            <p>Tisanes</p>
        </li>
        <li class="tea_types">
            <img class="five_tea_img" src="img/blend_400x400_crop_center.avif">
            <p>Blends</p>
        </li>
    </ul>
</div>