<%- include ('partials/nav_container.ejs') %>
<%- include ('partials/hero_img.ejs') %>
<%- include ('partials/tea_leaves.ejs') %>
<%- include ('partials/shop_images.ejs') %>

<!-- <div class ="app_container">

</div> -->

<!-- <div class="split_bg">

</div>
<div class="split_bg">
    
</div>
<div class="split_bg">
    
</div> -->
<div class="footer">
    
</div>





<div class="footer_gradient">
    <div class="footer_gradient_container">
        <div class="left_container">
            <p>Swallowtail Tea</p>
            <p>Swallowtail Tea is a Virginia-based tea company sourcing only the highest quality tea, herbs, and spices
                from around the world.</p>
        </div>
        <span class="right_container">
            <p>Sign up and get 10% off your first purchase.</p>
            <p>Email</p>
        </span>

    </div>

</div>
<div class="footer_ref">
    <div class="footer_ref_container">
        <div class="footer_links">
            <h3>Shop</h3>
            <h3>Company</h3>
            <h3>Account</h3>
            <h3>Legal</h3>
            <h3>Terms of service</h3>
            <h3>Refund policy</h3>
        </div>
        <div class="footer_link_type">
            <ul>
                <li>
                    <a>All</a>
                    <a>Teas</a>
                    <a>Merch</a>
                    <a>Brew wares</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a>Wholesale</a>
                    <a>About us</a>
                    <a>Contact us</a>
                    <a>FAQs</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a>My Orders</a>
                    <a>Sign Up</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a>Term & Conditions</a>
                    <a>Privacy Policy</a>
                </li>
            </ul>
            <ul>
                <li>(c) 2022 Swallowtail Tea</li>
            </ul>
        </div>
    </div>
</div>

