<!-- <div class = "hamburger_menu">
    <button class ="burger"><i class="fa-solid fa-bars fa-lg"></i> Menu </button>
    <div class = "dropdown_menu">
        <h2>Shop</h2>
        <ul class = "list_dropdown">
            <li>teas</li>
            <li>merch</li>
            <li>brew wares</li>
        </ul>
        <h2>Company</h2>
        <ul class = "list_dropdown">
            <li>about us</li>
            <li>wholesale</li>
            <li>contact us</li>
            <li>FAQs</li>
        </ul>
        <h2>Legal</h2>
        <ul class = "list_dropdown">
            <li>privacy policy</li>
            <li>terms & conditions</li>
        </ul>
    </div>
</div> -->