/*Variables*/
:root {
    --main-bg-colour: white;
    --main-brand-colour: 1px solid rgba(55, 63, 61, .2);

    --main-font-colour: #373f3d;
}

/*All Containers*/

.grid_container_contained {
    display: grid;
    box-sizing: border-box;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: baseline;
    z-index: 1;

}

/*Lists*/

ul {
    padding: 0;
    list-style: none;
    font-size: 18px;
}



.tea_types {
    position: block;
    float: left;
    display: block;
    text-align: center;
    padding: 0;

}

.five_tea_img {
    width: 200px;
    height: 200px;
}

/*span*/
.font_style {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}

.create_button {
    border-style: solid;
    border-color: var(--main-brand-colour);
}


body {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
    font-display: var(--main-font-colour);
    margin: 0;
}


.sites_pages {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.footer_gradient_container {
    background-color: antiquewhite;
}

.left_container {
    direction: ltr;
    text-align: left;
    height: 150px;
    width: 50%;
    float: left;
    background-color: bisque;
}

.right_container {
    direction: rtl;
    text-align: right;
    height: 150px;
    width: 50%;
    float: right;
    background-color: beige;

}

.footer_ref_container {
    display: inline-block;
    direction: ltr;
    font-size: 20pt;

}

.footer_links {
    display: flex;
    position: center;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 16pt;
}

h3 {
    font: 20pt;
}

.footer_link_type {
    display: flex;
    position: center;
    gap: 30px;
    font-size: 16pt;
}



/* changes the css property when screen size is at 400px or less*/
@media screen and (max-width: 400px) {

    body {
        background-position: top;
        background-size: cover;
        width: auto;
        height: auto;
        background-repeat: no-repeat;
        font-family: 'Roboto Mono', monospace;
        font-display: var(--main-font-colour);
    }

    /* nav bar */
    /* .main_nav {
        display: flex;
        margin: 0;
        padding: 0;
        position: static;
        line-height: 24px;
        box-sizing: border-box;
    } */

    /* .selection_grid {
        display: flex;
        overflow: scroll;
        grid-template-rows: repeat(5, 1fr);
        direction: ltr;
        justify-content: center;
    } */

}