/* <header> */
.desktop_header{
    height: 100px;
    display: table;
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

/* <div> */
.logo_container{
    display: table-cell;
    width: 205px;
    padding: 20px;
    vertical-align: middle;
    border: 1px solid rgba(55,63,61,.1)
}

.main_nav{
    box-sizing: border-box;
    margin-top: 40px;
}

/* <svg>*/
.svg_logo{
    height: auto;
    max-height: 60px;
    width: 100%;
    display: block;
    cursor: pointer;
}


.description_container{
    display: table-cell;
    position: relative;
    border: 1px solid rgba(55,63,61,.1);
}

.nav_container{
    width: 50%;
    display: table-cell;
    vertical-align: top;
    border: 1px solid rgba(55,63,61,.2);
}

.header_nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* <p> */
.header_description{
    position:absolute;
    max-height: 72px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;

}
/* <ul> */
.ul_header{

    list-style: none;
    position: absolute;
    bottom: 0;
}

/* <li> */
.header_link{

}

/* <a> */

.header_link_cell{
    border-right: 1px solid rgba(55,63,61,.2);
    border-bottom: 1px solid rgba(55,63,61,.2);
    width: 33.3333%;
    text-transform: uppercase;
}


/* <span> */
.media_hidden{

}

.media_fix{

}

/* mobile menu */

/* <div> */

.mobile_hamburger{

}

.hamburger_menu{

}

.dropdown_menu{

}

/* button*/
.burger{

}

/*<i>*/
.fa-solid .fa-bars{

}

/*<li>*/
.list_dropdown{

}
