/* this css is connected in reference to shop_images.ejs */

.shop_images_contained {
    display: grid;
    column-gap: 25px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
    padding: 20px;
}

.img_container {
    display: flex;
    padding: 20px;
}

.img_link {
    width: 100%;
    height: 500px;
    text-overflow: ellipsis;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
}


.img_link_font_title {
    display: flex;
    padding-left: 175px;
    padding-top: 200px;
    padding-bottom: 20px;
    align-items: center;

    color: var(--main-bg-colour);
    font-size: 24pt;
}

.img_link_font_title_sn {
    color: var(--main-bg-colour);
    font-size: 18;
    border: 1px solid white;

}